@import "../../variables";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

.background {
  height: 100vh;
  background-image: url("img/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 50px;
  p,
  button {
    max-width: 1320px;
    margin: 0 auto;
  }
  h1 {
    text-align: center;
    padding: 50px 0px 50px 0px;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    border: 1px solid #19185b;
    .img-star {
      position: absolute;
      width: 100px;
      left: -50px;
      top: -20px;
    }
    .title {
      font-size: 50px;
      font-family: "Dancing Script", cursive;
      color: #fff;
      text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px,
        #cf6fe0 0px 0px 20px, #cf6fe0 0px 0px 30px, #cf6fe0 0px 0px 40px,
        #cf6fe0 0px 0px 50px, #cf6fe0 0px 0px 75px,
        2px 2px 2px rgba(103, 148, 249, 0);
    }
    .citation {
      font-size: 15px;
      font-style: italic;
      padding-top: 15px;
      font-family: "Rajdhani", sans-serif;
      color: #fff;
    }
  }
}

@media screen and (max-width: 1000px) {
  .background {
    h1 {
      max-width: 700px;
    }
  }
}

@media screen and (max-width: 767px) {
  .background {
    h1 {
      max-width: 100%;
      .img-star {
        left: 100px;
        top: -33px;
      }
    }
  }
}
