@import "../../variables";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

#App-About {
  max-width: 1320px;
  margin: 0 auto;
  .Title-Book {
    text-align: center;
    margin: 50px 0px 100px 0px;
    font-family: "Rajdhani", sans-serif;
    color: #4e2920;
    font-size: 18px;
  }
  .Book-Bloc {
    display: flex;
    justify-content: center;
    align-self: center;
    background: url("img/papillon.png") no-repeat;
    background-position: left top;
  }
}

@media screen and (max-width: 1000px) {
  #App-About {
    .Title-Book {
      margin: 50px 0px 20px 0px;
    }
  }
}
